.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
:root {
  --white: #ffffff;
  --blueactive: #188ce8;
  --blue: #2196f3;
  --black: #000000;
  --accentblack: #212121;
  --greytext: #757575;
  --greytext-footer: rgba(255, 255, 255, 0.6);
  --placeholder: rgba(117, 117, 117, 0.5);

  /* BACKGROUND */
  --darkgrey: #2f303a;
  --teamback: #f5f4fa;
  --overlaybg: #c4c4c4;
  --workbackgr: rgba(47, 48, 58, 0.8);

  /* Icons */
  --iconcolor: #afb1b8;
  --iconfootr: rgba(255, 255, 255, 0.1);

  /* Gradient */
  --gradhero: rgba(47, 48, 58, 0.4);

  /* shadow */
  --shadow: rgba(0, 0, 0, 0.15);
  --teamshadow1: rgba(0, 0, 0, 0.12);
  --teamshadow2: rgba(0, 0, 0, 0.14);
  --teamshadow3: rgba(0, 0, 0, 0.2);
  --boxshadow1: rgba(0, 0, 0, 0.1);
  --boxshadow2: rgba(0, 0, 0, 0.08);
  --boxshadow3: rgba(0, 0, 0, 0.12);
  --portfshadow2: rgba(0, 0, 0, 0.06);
  --portfshadow3: rgba(0, 0, 0, 0.16);

  /* border */
  --footerborder: rgba(255, 255, 255, 0.3);

  /* lines */
  --portfborder: #eeeeee;
  --hederline: #ececec;
  --formborder: rgba(33, 33, 33, 0.2);

  /* btn radius */
  --btnradius: 4px;

  /* flex */
  --items: 3;
  --itemsteam: 4;
  --itemsadv: 4;
  --indent: 30px;

  /* Animation */
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*RESET*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* отсутствие отступов после картнок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* сброс настроек списка */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* сброс настроек ссылок */
.link {
  text-decoration: none;
  color: currentColor;
}

/* ************************************** */
body {
  background-color: var(--white);
  color: var(--greytext);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: calc(24 / 14);
  font-weight: 400;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  /* outline: 1px solid blue;
  outline-offset: -1px; */
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 1px solid tomato;
  outline-offset: -1px; */
}
.logo {
  color: var(--blue);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  margin-right: 93px;
  /* background-color: greenyellow; */
}
.button {
  font-family: inherit;

  display: inline-block;
  min-width: 216px;
  min-height: 50px;
  padding: 10px 32px; /*32-2*2 ширина бордера*/
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  background-color: var(--blue);
  color: var(--white);

  cursor: pointer;

  border-radius: var(--btnradius);
  border: none;
  outline: transparent;

  box-shadow: 0px 4px 4px var(--shadow);

  position: relative;

  transition: background-color var(--anim), box-shadow var(--anim);
}
.button:hover,
.button:focus {
  font-family: inherit;
  background-color: var(--blueactive);
  box-shadow: 0px 4px 4px var(--shadow);
}
.title {
  color: var(--accentblack);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}
/* social-icons */
.social {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  color: var(--iconcolor);
  background-color: var(--white);
  border-radius: 50%;

  transition: background-color var(--anim), color var(--anim);
}
.social__link:hover,
.social__link:focus {
  background-color: var(--blue);
  color: var(--white);
}
.social__icon {
  fill: currentColor;
  display: block;
}
/*HEADER*/
.header-page {
  border-bottom: 1px solid var(--hederline);
}
.header-page__container {
  display: flex;
  align-items: center;
}

.logo--black {
  color: var(--black);
}

nav {
  display: flex;
  margin-right: auto;
  align-items: center;
}
.nav__list {
  display: flex;
  align-items: baseline;
  gap: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;

  color: var(--accentblack);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  /* background-color: greenyellow; */

  transition: color var(--anim);
}
.nav__link:hover,
.nav__link:focus,
.nav__link--current {
  color: var(--blue);
}

.nav__link.nav__link--current::after {
  content: '';
  display: block;

  position: absolute;
  left: 0;
  bottom: -1.5%;

  width: 100%;
  height: 4px;
  background-color: var(--blue);
  border-radius: 2px;
}

.header-contact {
  color: var(--greytext);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: flex;
  gap: 50px;
  align-items: center;
  /* background-color: greenyellow; */
}
.header-contact__link {
  display: flex;
  align-items: center;
  gap: 10px;

  transition: color var(--anim);
}
.header-contact__img {
  display: block;
  fill: currentColor;
}
.header-contact__link:hover,
.header-contact__link:focus {
  color: var(--blue);
  fill: var(--blue);
}
/* MAIN */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--darkgrey);
  text-align: center;
}
.hero__overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--overlaybg);
  background-image: linear-gradient(to right, var(--gradhero), var(--gradhero)),
    url('../img/hero.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__title {
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  width: 696px;
  min-height: 120px;
}

/* Advant */
.advant {
  padding-bottom: 0;
}
.advant__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.advant__item {
  flex-basis: calc((100% - var(--indent) * (var(--itemsadv) - 1)) / var(--itemsadv));
}
.advant__img {
  background-color: var(--teamback);
  border-radius: var(--btnradius);

  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;
}
.advant__title {
  color: var(--accentblack);
  font-weight: 700;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}
.advant__text {
  width: 270px;
}

/* PROJECTS */
.project__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.project__item {
  position: relative;
}
.project__img {
  flex-basis: calc((100% - var(--indent) * (var(--itemsteam) - 1)) / var(--itemsteam));
}
.project__name {
  position: absolute;
  bottom: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  background-color: var(--workbackgr);
  font-weight: 700;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;
  color: var(--white);

  min-height: 70px;
}
/* TEAM */

.team {
  background-color: var(--teamback);
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.team__item {
  background-color: var(--white);
  box-shadow: 0px 1px 3px var(--teamshadow1), 0px 1px 1px var(--teamshadow2),
    0px 2px 1px var(--teamshadow3);

  text-align: center;

  flex-basis: calc((100% - var(--indent) * (var(--itemsteam) - 1)) / var(--itemsteam));
}
.team__group {
  padding: 30px 32px;
}
.team__member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  color: var(--accentblack);
  margin-bottom: 10px;
}
.team__position {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

/* Clients */
.clients__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.clients__item {
  flex-basis: calc((100% - 150px) / 6);
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--iconcolor);
  background-color: var(--white);
  color: var(--iconcolor);

  border-radius: var(--btnradius);
  min-height: 92px;

  transition: border var(--anim), color var(--anim);
}
.clients__svg {
  display: block;
  fill: currentColor;
}
.clients__link:hover,
.clients__link:focus {
  border: 1px solid var(--blue);
  color: var(--blue);
}

/* FOOTER */

.footer__page {
  background-color: var(--darkgrey);
  padding: 60px 0;
}
.footer__container {
  display: flex;
  align-items: baseline;
  gap: 70px;
}
.logo--white {
  color: var(--white);
}
.logo--fmarg {
  margin-bottom: 20px;
  margin-right: 0;
  /* background-color: greenyellow; */
  display: block;
}
.adress__item:not(:last-child) {
  margin-bottom: 9px;
}
.adress__city {
  text-decoration: none;
  color: var(--white);
  font-style: normal;
  /* background-color: greenyellow; */
  display: block;

  transition: color var(--anim);
}
.adress__contact {
  text-decoration: none;
  color: var(--greytext-footer);
  font-style: normal;
  /* background-color: greenyellow; */
  display: block;

  transition: color var(--anim);
}

.adress__city:hover,
.adress__city:focus,
.adress__contact:hover,
.adress__contact:focus {
  color: var(--blueactive);
}
/* Footer social */
.footer__joinrequest {
  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--white);

  margin-bottom: 20px;
}
.social__link--footer {
  background-color: var(--iconfootr);
  color: var(--white);
}
/* Footer Email */
.left {
  margin-left: auto;
}
.subscribe__item {
  display: flex;
  gap: 12px;
}
.subscribe__input {
  width: 358px;
  height: 50px;

  border: 1px solid var(--footerborder);

  background-color: var(--darkgrey);
  border-radius: var(--btnradius);
  padding-left: 16px;

  position: relative;
  outline: none;

  font-size: 16px;
  line-height: calc(20 / 16);
  color: var(--greytext-footer);

  transition: filter var(--anim), outline var(--anim), border var(--anim);
}
.subscribe__input::placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  color: var(--greytext-footer);

  position: absolute;
  top: 15px;
  left: 16px;
}
.subscribe__input:hover,
.subscribe__input:focus {
  filter: drop-shadow(0px 4px 4px var(--shadow));
  outline: var(--blue);
  border: 1px solid var(--blue);
}
.subscribe__caption {
  position: absolute;
  top: 50%;
  left: 28px;

  transform: translateY(-50%);
  transition: transform var(--anim);
}
.subscribe__icon {
  display: block;
  fill: currentColor;
  position: absolute;
  top: 50%;
  left: 148px;

  transform: translateY(-50%);
  transition: transform var(--anim);
}

/* //////////////////////////// */
/* PORTFOLIO */
/* FILTER */
.portfol-filter {
  margin-bottom: 34px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.portfol-filter__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  color: var(--accentblack);
  background-color: var(--teamback);

  cursor: pointer;

  min-width: 73px;
  height: 38px;
  padding: 6px 22px;

  border-radius: var(--btnradius);
  border-color: transparent;

  transition: color var(--anim), background-color var(--anim), box-shadow var(--anim);
}
.portfol-filter__button:hover,
.portfol-filter__button:focus {
  color: var(--white);
  background-color: var(--blue);
  box-shadow: 0px 3px 1px var(--boxshadow1), 0px 1px 2px var(--boxshadow2),
    0px 2px 2px var(--boxshadow3);
}

/* CARDS */
.portfol-card__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.portfol-card__item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
.portfol-card__link {
  display: inline-block;
  position: relative;

  transition: box-shadow var(--anim);
}
.portfol-card__link:hover,
.portfol-card__link:focus {
  box-shadow: 0px 1px 1px var(--boxshadow3), 0px 4px 4px var(--portfshadow2),
    1px 4px 6px var(--portfshadow3);
}

.portfol-card__advertis {
  position: relative;
  overflow: hidden;
}
.portfol-card__img {
  display: inline-block;
}
.portfol-card__overlay {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--white);

  padding: 63px 24px;

  transform: translateY(101%);
  transition: transform var(--anim);
}
.portfol-card__link:hover .portfol-card__overlay,
.portfol-card__link:focus .portfol-card__overlay {
  transform: translateY(0);
}
.portfol-card__group {
  padding: 20px 24px;

  border: 1px solid var(--portfborder);
  border-top: none;
}
.portfol-card__project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--accentblack);

  margin-bottom: 4px;
}
.portfol-card__descr {
  font-size: 16px;
  line-height: 1.9;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--teamshadow3);

  /* opacity: 1; */
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  padding: 40px;

  background-color: var(--white);
  box-shadow: 0px 1px 3px var(--teamshadow1), 0px 1px 1px var(--teamshadow2),
    0px 2px 1px var(--teamshadow3);
  border-radius: var(--btnradius);

  visibility: visible;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal {
  width: 30px;
  height: 30px;

  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  background-color: var(--white);
  border-radius: 50%;
  border: 1px solid var(--boxshadow1);
  outline: transparent;

  transition: fill var(--anim);
}
.button-modal__icon {
  display: block;
  fill: var(--black);

  transition: fill var(--anim);
}
.button-modal:hover .button-modal__icon,
.button-modal:focus .button-modal__icon {
  fill: var(--blue);
}

/* Modal input */

/* input[name="user-descr"]::placeholder {
  color: red
} */

.callback-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.callback-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  color: var(--accentblack);

  margin-bottom: 12px;
}
.callback-form__group {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-bottom: 20px;
}
.callback-form__label {
  display: flex;
  gap: 4px;
  flex-direction: column;
  position: relative;
}
.callback-form__subtitle {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}
.callback-form__item {
  position: relative;
}
.callback-form__input {
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;

  border: 1px solid var(--formborder);
  border-radius: var(--btnradius);
  outline: transparent;

  width: 100%;

  transition: border var(--anim);
  transition: fill var(--anim);
}
.callback-form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;

  fill: var(--accentblack);

  transition: fill var(--anim);
}
.callback-form__input:hover,
.callback-form__input:focus {
  border: 1px solid var(--blue);
}
.callback-form__input:hover + .callback-form__icon,
.callback-form__input:focus + .callback-form__icon {
  fill: var(--blue);
}

.callback-form__textarea {
  height: 120px;
  resize: none;
  padding: 12px 16px;

  border: 1px solid var(--formborder);
  border-radius: var(--btnradius);
  width: 100%;
  outline: transparent;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  transition: border var(--anim);
}
.callback-form__textarea:hover,
.callback-form__textarea:focus {
  border: 1px solid var(--blue);
}
.callback-form__textarea::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: var(--placeholder);
}
/* Checkbox */
.checkbox__label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.checkbox__input {
  transition: outline var(--anim), outline-offset var(--anim), border-radius var(--anim);
}
.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;

  background-image: url(../img/icon.svg);

  transition: outline var(--anim), outline-offset var(--anim), border-radius var(--anim);
}
.checkbox__input:checked + .checkbox__icon {
  background-image: url(../img/check.svg);
}
.checkbox__title {
  user-select: none;
}
.checkbox__link {
  color: var(--blue);

  transition: outline-color var(--anim);
}
.checkbox__link:focus {
  outline-color: var(--blue);
}
/* ------------------- */

.checkbox__input:focus-visible:not(:hover) + .checkbox__icon {
  outline: 1px solid var(--blue);
  outline-offset: 3px;
  border-radius: 2px;
}

.callback-form__footer {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
