.advant {
  padding-bottom: 0;
}
.advant__list {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
  }
}
.advant__item {
  flex-basis: calc((100% - var(--indent) * (var(--itemsadv) - 1)) / var(--itemsadv));

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
.advant__img {
  background-color: var(--teamback);
  border-radius: var(--btnradius);

  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;
}
.advant__title {
  color: var(--accentblack);
  font-weight: 700;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.advant__text {
  width: 270px;

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}
