.advant {
  padding-bottom: 60px;
  
  @media screen and (min-width: $desktop) {
    padding-bottom: 0;
  }
}
.advant__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
  }
}
.advant__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - var(--indent) * (2 - 1)) / 2);

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - var(--indent) * (var(--itemsadv) - 1)) / var(--itemsadv));

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
.advant__img {
  background-color: var(--teamback);
  border-radius: var(--btnradius);

  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;
}
.advant__title {
  color: var(--accentblack);
  font-weight: 700;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;

  text-align: center;

  @media screen and (min-width: $tablet) {
    text-align: left;
  }
}
.advant__text {
  width: 100%;

  @media screen and (min-width: $desktop) {
    width: 270px;
  }
}
