.footer__page {
  background-color: var(--darkgrey);
  padding: 60px 0;
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;

  text-align: center;

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    align-items: baseline;
    gap: 70px;

    text-align: left;
  }
}
.right {
  display: flex;
  text-align: center;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    gap: 60px;
  }
  @media screen and (min-width: $tablet) {
    flex-direction: row;
    align-items: baseline;
    gap: 168px;

    text-align: center;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    align-items: baseline;
    gap: 70px;

    text-align: left;
  }
}
.logo--white {
  color: var(--white);
}
.logo--fmarg {
  display: block;

  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
  margin-right: 0;
  /* background-color: greenyellow; */
}
.adress__item:not(:last-child) {
  margin-bottom: 9px;
}
.adress__city {
  display: block;

  text-decoration: none;
  color: var(--white);
  font-style: normal;

  transition: color var(--anim);

  &:hover,
  &:focus {
    color: var(--blueactive);
  }
  /* background-color: greenyellow; */
}
.adress__contact {
  text-decoration: none;
  color: var(--greytext-footer);
  font-style: normal;

  display: block;

  transition: color var(--anim);

  &:hover,
  &:focus {
    color: var(--blueactive);
  }
  /* background-color: greenyellow; */
}

/* Footer social */
.footer__joinrequest {
  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--white);

  margin-bottom: 20px;
}
.social__link--footer {
  background-color: var(--iconfootr);
  color: var(--white);
}

/* Footer Email */
.left {
  @media screen and (min-width: $desktop) {
    margin-left: auto;
  }
}
.subscribe__item {
  display: flex;
  flex-direction: column;
  gap: 20px;

  align-items: center;

  @media screen and (max-width: 479px) {
    display: block;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    gap: 12px;
  }
}
.subscribe__input {
  width: 100%;
  height: 50px;
  margin: auto;

  border: 1px solid var(--footerborder);

  background-color: var(--darkgrey);
  border-radius: var(--btnradius);
  padding-left: 16px;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: var(--greytext-footer);

  position: relative;
  outline: none;

  transition: filter var(--anim), outline var(--anim), border var(--anim);

  &::placeholder {
    font-size: 16px;
    line-height: calc(20 / 16);
    color: var(--greytext-footer);

    position: absolute;
    top: 15px;
    left: 16px;
  }
  &:hover,
  &:focus {
    filter: drop-shadow(0px 4px 4px var(--shadow));
    outline: var(--blue);
    border: 1px solid var(--blue);
  }

  @media screen and (max-width: 479px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: $mobile) {
    width: 450px;
    margin-bottom: 0;
  }
  @media screen and (min-width: $desktop) {
    width: 358px;
  }
}

.subscribe__caption {
  position: absolute;
  top: 50%;
  left: 28px;

  transform: translateY(-50%);
  transition: transform var(--anim);
}
.subscribe__icon {
  display: block;
  fill: currentColor;
  position: absolute;
  top: 50%;
  left: 148px;

  transform: translateY(-50%);
  transition: transform var(--anim);
}
