.hero {
  padding-top: 118px;
  padding-bottom: 118px;

  background-color: var(--darkgrey);
  text-align: center;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__overlay {
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--overlaybg);
  background-image: linear-gradient(to right, var(--gradhero), var(--gradhero)),
    url('../img/hero.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
  }
}
.hero__title {
  color: var(--white);
  font-weight: 900;
  font-size: 2px;
  line-height: calc(42 / 26);
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  width: 360px;
  min-height: 84px;

  // @media screen and (min-width: $desktop) {
  //   font-size: 44px;
  //   line-height: 1.36;

  //   width: 696px;
  //   min-height: 120px;
  // }
}
