.portfol-card__list {
  display: flex;
  flex-direction: column;
  gap: var(--indent);

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--indent);
  }
}
.portfol-card__item {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-basis: calc((100% - var(--indent)) / 2);
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  }
}
.portfol-card__link {
  display: flex;
  flex-direction: column;
  position: relative;

  transition: box-shadow var(--anim);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px var(--boxshadow3), 0px 4px 4px var(--portfshadow2),
      1px 4px 6px var(--portfshadow3);
  }

  &:hover .portfol-card__overlay,
  &:focus .portfol-card__overlay {
    transform: translateY(0);
  }
}

.portfol-card__advertis {
  position: relative;
  overflow: hidden;
}
.portfol-card__img {
  display: block;
  width: 100%;
}
.portfol-card__overlay {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--white);

  padding: 63px 24px;

  transform: translateY(101%);
  transition: transform var(--anim);
}

.portfol-card__group {
  padding: 20px 24px;

  border: 1px solid var(--portfborder);
  border-top: none;

  flex-grow: 1;
}
.portfol-card__project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--accentblack);

  margin-bottom: 4px;
}
.portfol-card__descr {
  font-size: 16px;
  line-height: 1.9;
}
