.portfol-filter {
  margin-bottom: 34px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.portfol-filter__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  color: var(--accentblack);
  background-color: var(--teamback);

  cursor: pointer;

  min-width: 73px;
  height: 38px;
  padding: 6px 22px;

  border-radius: var(--btnradius);
  border-color: transparent;

  transition: color var(--anim), background-color var(--anim), box-shadow var(--anim);

  &:hover,
  &:focus {
    color: var(--white);
    background-color: var(--blue);
    box-shadow: 0px 3px 1px var(--boxshadow1), 0px 1px 2px var(--boxshadow2),
      0px 2px 2px var(--boxshadow3);
  }
}
