.team {
  background-color: var(--teamback);
}
.team__list {
  display: flex;
  flex-direction: column;
  gap: var(--indent);

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.team__item {
  background-color: var(--white);

  text-align: center;

  box-shadow: 0px 1px 3px var(--teamshadow1), 0px 1px 1px var(--teamshadow2),
    0px 2px 1px var(--teamshadow3);

  // &:not(:last-child) {
  //   margin-bottom: 30px;
  // }

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - var(--indent)) / 2);

    // &:not(:last-child) {
    //   margin-bottom: 0;
    // }
  }
  img {
    width: 100%;
  }
  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - var(--indent) * (var(--itemsteam) - 1)) / var(--itemsteam));

    // &:not(:last-child) {
    //   margin-bottom: 0;
    // }
  }
}

.team__group {
  padding-top: 30px;
  padding-bottom: 24px;

  @media screen and (min-width: $desktop) {
    padding: 30px 32px;
  }
}
.team__member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  color: var(--accentblack);
  margin-bottom: 10px;
}
.team__position {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}
