/*RESET*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* отсутствие отступов после картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* сброс настроек списка */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* сброс настроек ссылок */
.link {
  text-decoration: none;
  color: currentColor;
}
